$bg_color:black;
$bg_white-color:white;
$about-content-color:#144c59;
$font-white:white;
$content-fontsize:24px;
$lettersapcing2px:2px;
$font-family-all-word: "EB Garamond", serif;


// @media (max-width: 1024px) {
// }
// @media (max-width: 768px) {

// }
// @media (max-width: 320px) {

// }
