@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
}

.header .banner {
  width: 100%;
  height: 100vh;
}

@media (max-width: 1280px) {
  .header .banner {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 320px) {
  .header .banner {
    overflow: hidden;
  }
}

.header .banner .swiper-container-banner {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
}

@media (max-width: 1280px) {
  .header .banner .swiper-container-banner {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .header .banner .swiper-container-banner {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .header .banner .swiper-container-banner {
    width: 100%;
  }
}

.header .banner .swiper-container-banner .swiper-slide .banner-photo {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

@media (max-width: 768px) {
  .header .banner .swiper-container-banner .swiper-slide .banner-photo {
    width: 100%;
    height: 100%;
    height: none;
  }
}

.header .banner .swiper-container-banner .swiper-slide #banner-firstphoto {
  background-image: url(../img/01-頁首/02-banner/已修改的banner/banner-01.jpg);
}

.header .banner .swiper-container-banner .swiper-slide #banner-secondphoto {
  background-image: url(../img/01-頁首/02-banner/已修改的banner/banner-02.jpg);
}

.header .banner .swiper-container-banner .swiper-slide #banner-thirdphoto {
  background-image: url(../img/01-頁首/02-banner/已修改的banner/banner-03.jpg);
}

.header .banner .swiper-container-banner .swiper-slide .banner-text {
  height: 258px;
  position: absolute;
  bottom: 350px;
  left: 195px;
  font-family: "Dancing Script", cursive;
  font-family: "EB Garamond", serif;
  color: #d75207;
  font-size: 95px;
  letter-spacing: 2px;
}

@media (max-width: 1800px) {
  .header .banner .swiper-container-banner .swiper-slide .banner-text {
    position: absolute;
    left: 100px;
    bottom: 200px;
    font-size: 90px;
  }
}

@media (max-width: 768px) {
  .header .banner .swiper-container-banner .swiper-slide .banner-text {
    position: absolute;
    left: 70px;
    bottom: 300px;
    font-size: 70px;
    font-weight: 600;
  }
}

@media (max-width: 320px) {
  .header .banner .swiper-container-banner .swiper-slide .banner-text {
    position: absolute;
    left: 8px;
    font-size: 45px;
    bottom: 240px;
  }
}

.header .banner .swiper-container-banner .swiper-slide .banner-text .banner-whitetext {
  color: white;
  font-size: 63px;
  line-height: 65px;
}

@media (max-width: 768px) {
  .header .banner .swiper-container-banner .swiper-slide .banner-text .banner-whitetext {
    font-size: 43px;
    line-height: 40px;
    font-weight: 400;
  }
}

@media (max-width: 320px) {
  .header .banner .swiper-container-banner .swiper-slide .banner-text .banner-whitetext {
    font-size: 35px;
    line-height: 35px;
  }
}

.header .banner .swiper-container-banner .swiper-slide .banner-text .banner-whitetext #yesorno {
  font-size: 38px;
}

@media (max-width: 768px) {
  .header .banner .swiper-container-banner .swiper-slide .banner-text .banner-whitetext #yesorno {
    font-size: 30px;
  }
}

@media (max-width: 320px) {
  .header .banner .swiper-container-banner .swiper-slide .banner-text .banner-whitetext #yesorno {
    font-size: 25px;
  }
}

.header .banner .swiper-container-banner .swiper-pagination-banner {
  text-align: right;
  padding-right: 100px;
  padding-bottom: 35px;
  z-index: 1234568;
  position: absolute;
  bottom: 50px;
}

@media (max-width: width 320px) {
  .header .banner .swiper-container-banner .swiper-pagination-banner {
    padding-right: 26px;
    padding-bottom: 29px;
    position: absolute;
    bottom: 50px;
    z-index: 123456789;
  }
}

.header .banner .swiper-container-banner .swiper-pagination-bullet-active {
  background-color: #ca603c;
}

@media (max-width: 320px) {
  .header .banner .swiper-container-banner .swiper-pagination-bullet-active {
    background-color: white;
  }
}

.header .banner .swiper-container-banner .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #ca603c;
}

@media (max-width: 320px) {
  .header .banner .swiper-container-banner .swiper-pagination-bullet {
    background-color: white;
  }
}

.header .banner .swiper-container-banner .navbar-list {
  width: 100%;
  height: 280px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 150px;
  z-index: 12789;
  display: none;
}

.header .banner .swiper-container-banner .navbar-list .rwd-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .banner .swiper-container-banner .navbar-list .rwd-nav .nav-a {
  height: 45px;
  padding-left: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "EB Garamond", serif;
}

@media (max-width: 768px) {
  .header .banner .swiper-container-banner .navbar-list .rwd-nav .nav-a {
    padding-left: 130px;
    display: unset;
  }
}

@media (max-width: 320px) {
  .header .banner .swiper-container-banner .navbar-list .rwd-nav .nav-a {
    padding-left: 80px;
  }
}

.header .banner .swiper-container-banner .navbar-list .rwd-nav .nav-a a {
  width: 152px;
  color: white;
  font-size: 28px;
  margin-right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .header .banner .swiper-container-banner .navbar-list .rwd-nav .nav-a a {
    padding-bottom: 8px;
    margin-right: 95px;
  }
}

@media (max-width: 320px) {
  .header .banner .swiper-container-banner .navbar-list .rwd-nav .nav-a a {
    padding-bottom: 3px;
    font-size: 24px;
    margin-top: 5px;
  }
}

.header .banner .swiper-container-banner .navbar-list .rwd-nav .nav-contact {
  width: 350px;
  height: 96px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .banner .swiper-container-banner .navbar-list .rwd-nav .nav-contact .nav-icon {
  width: 213px;
  height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .header .banner .swiper-container-banner .navbar-list .rwd-nav .nav-contact .nav-icon {
    margin-top: 180px;
  }
}

@media (max-width: 320px) {
  .header .banner .swiper-container-banner .navbar-list .rwd-nav .nav-contact .nav-icon {
    width: 153px;
    height: 40px;
    margin-left: 55px;
  }
}

.header .banner .swiper-container-banner .navbar-list .rwd-nav .nav-contact .nav-icon #facebook {
  width: 55px;
  height: 55px;
  margin-right: 12px;
}

.header .banner .swiper-container-banner .navbar-list .rwd-nav .nav-contact .nav-icon #line {
  width: 55px;
  height: 55px;
  margin-right: 20px;
}

.header .banner .swiper-container-banner .navbar-list .rwd-nav .nav-contact .nav-icon #instagram {
  width: 55px;
}

.header .banner .navbar-banner {
  width: 100%;
  height: 154px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
}

.header .banner .navbar-banner .nav-logo {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 75px;
  background-image: url("../img/01-頁首/01-Navbar/logo.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .header .banner .navbar-banner .nav-logo {
    width: 180px;
    margin-left: 40px;
  }
}

@media (max-width: 320px) {
  .header .banner .navbar-banner .nav-logo {
    margin-left: 20px;
    width: 150px;
  }
}

.header .banner .navbar-banner .navbar-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .banner .navbar-banner .navbar-all .container-nav {
  width: 1140px;
  height: 100%;
  margin: auto;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1500px) {
  .header .banner .navbar-banner .navbar-all .container-nav {
    display: none;
  }
}

.header .banner .navbar-banner .navbar-all .container-nav .nav-a {
  height: 45px;
  padding-left: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .banner .navbar-banner .navbar-all .container-nav .nav-a a {
  color: white;
  font-size: 22px;
  margin-right: 60px;
  padding-bottom: 10px;
}

.header .banner .navbar-banner .navbar-all .container-nav .nav-a a::after {
  content: "";
  display: block;
  width: 150px;
  height: 1px;
  border-bottom: 1px solid white;
  border-spacing: 10px;
}

.header .banner .navbar-banner .navbar-all .container-nav .nav-a a::after:hover {
  border-bottom: 3px solid white;
}

.header .banner .navbar-banner .navbar-all .container-nav .nav-a a:last-child {
  margin-right: 0;
}

.header .banner .navbar-banner .navbar-all .nav-contact {
  width: 350px;
  height: 96px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1800px) {
  .header .banner .navbar-banner .navbar-all .nav-contact {
    display: none;
  }
}

.header .banner .navbar-banner .navbar-all .nav-contact .nav-icon {
  width: 213px;
  height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-right: 0;
}

.header .banner .navbar-banner .navbar-all .nav-contact .nav-icon #facebook {
  width: 55px;
  height: 55px;
  margin-right: 12px;
}

.header .banner .navbar-banner .navbar-all .nav-contact .nav-icon #line {
  width: 55px;
  height: 55px;
  margin-right: 20px;
}

.header .banner .navbar-banner .navbar-all .nav-contact .nav-icon #instagram {
  width: 55px;
}

.header .banner .navbar-banner .navbar-all .rwd-navbar i {
  font-size: 70px;
  display: none;
  color: white;
}

@media (max-width: 1500px) {
  .header .banner .navbar-banner .navbar-all .rwd-navbar i {
    display: inline;
    position: absolute;
    bottom: 35px;
    right: 80px;
  }
}

@media (max-width: 500px) {
  .header .banner .navbar-banner .navbar-all .rwd-navbar i {
    position: absolute;
    font-size: 50px;
    bottom: 50px;
    right: 50px;
  }
}

@media (max-width: 320px) {
  .header .banner .navbar-banner .navbar-all .rwd-navbar i {
    position: absolute;
    right: 20px;
    bottom: 55px;
  }
}

.about-content {
  width: 100%;
  height: 1899px;
}

@media (max-width: 1280px) {
  .about-content {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 828px) {
  .about-content {
    width: 100%;
  }
}

.about-content .title {
  color: #062636;
  margin-top: 135px;
  margin-bottom: 106px;
  font-family: "Dancing Script", cursive;
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 60px;
}

@media (max-width: 320px) {
  .about-content .title {
    font-size: 40px;
  }
}

@media (max-width: 1280px) {
  .about-content .title {
    margin-bottom: 40px;
    margin-top: 100px;
  }
}

@media (max-width: 767px) {
  .about-content .title {
    margin-top: 70px;
  }
}

.about-content .aman-about {
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 1280px) {
  .about-content .aman-about {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .about-content .aman-about {
    width: 100%;
  }
}

.about-content .aman-about .aman-introduction {
  width: 555px;
  height: 290px;
  background-color: #144c59;
  color: white;
  font-size: 18px;
  line-height: 32px;
  list-style-type: none;
  padding: 60px 45px;
  position: absolute;
  bottom: 30px;
  left: 0;
  letter-spacing: 2px;
}

@media (max-width: 1280px) {
  .about-content .aman-about .aman-introduction {
    background-color: unset;
    color: #144c59;
    padding: 60px 0;
    position: absolute;
    bottom: -260px;
    letter-spacing: 0;
    font-weight: 600;
    line-height: 28px;
    width: 100%;
  }
}

@media (max-width: 320px) {
  .about-content .aman-about .aman-introduction {
    margin: 15px 0;
  }
}

.about-content .aman-about .aman-introduction li {
  list-style-type: none;
}

.about-content .aman-about .aman-introduction h2 {
  margin-bottom: 15px;
}

@media (max-width: 1280px) {
  .about-content .aman-about .aman-introduction h2 {
    margin-bottom: 8px;
    font-weight: 600;
  }
}

.about-content .aman-about .aman-picture {
  width: 870px;
  height: 562px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

@media (max-width: 1280px) {
  .about-content .aman-about .aman-picture {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }
}

.about-content .aman-idea {
  width: 1140px;
  margin-top: 85px;
  position: relative;
}

@media (max-width: 1280px) {
  .about-content .aman-idea {
    margin-top: 220px;
    width: 100%;
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .about-content .aman-idea {
    margin-top: 240px;
    margin-bottom: 120px;
  }
}

@media (max-width: 320px) {
  .about-content .aman-idea {
    margin-top: 280px;
    margin-bottom: 200px;
  }
}

.about-content .aman-idea img {
  width: 870px;
  height: 553px;
  margin-bottom: 340px;
}

@media (max-width: 1280px) {
  .about-content .aman-idea img {
    width: 100%;
    height: 100%;
    margin-bottom: 260px;
  }
}

.about-content .aman-idea .aman-idea-text {
  width: 840px;
  height: 375px;
  background-color: #144c59;
  color: white;
  position: absolute;
  bottom: -90px;
  right: 0;
  padding: 70px;
  margin-bottom: 200px;
  font-size: 18px;
  line-height: 32px;
}

@media (max-width: 1280px) {
  .about-content .aman-idea .aman-idea-text {
    width: 100%;
    color: #144c59;
    background-color: unset;
    font-weight: 700;
    padding: 0;
    margin-bottom: 180px;
    position: absolute;
    bottom: -320px;
    right: 0;
  }
}

.about-content .aman-idea .aman-idea-text li {
  list-style-type: none;
}

.about-content .aman-idea .aman-idea-text h2 {
  margin-bottom: 30px;
}

@media (max-width: 1280px) {
  .about-content .aman-idea .aman-idea-text h2 {
    margin-bottom: 15px;
  }
}

.campaign-content {
  width: 100%;
  background-color: #144c59;
  position: relative;
  overflow: hidden;
}

.campaign-content #campaign-title {
  font-family: "Dancing Script", cursive;
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 60px;
  color: white;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-family: "Dancing Script", cursive;
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 60px;
  position: absolute;
  top: 60px;
  left: 256px;
}

@media (max-width: 320px) {
  .campaign-content #campaign-title {
    font-size: 40px;
  }
}

@media (max-width: 320px) {
  .campaign-content #campaign-title {
    font-size: 40px;
  }
}

@media (max-width: 1600px) {
  .campaign-content #campaign-title {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    position: absolute;
    top: 90px;
    left: 200px;
  }
}

@media (max-width: 1280px) {
  .campaign-content #campaign-title {
    position: absolute;
    left: 65px;
  }
}

@media (max-width: 769px) {
  .campaign-content #campaign-title {
    position: absolute;
    margin-top: 20px;
    top: 80px;
    left: 50px;
  }
}

@media (max-width: 320px) {
  .campaign-content #campaign-title {
    position: absolute;
    left: 15px;
    margin-top: 40px;
  }
}

.campaign-content .container .row .col-md-6 {
  margin-bottom: 110px;
}

@media (max-width: 1280px) {
  .campaign-content .container .row .col-md-6 {
    margin-bottom: 60px;
  }
}

@media (max-width: 769px) {
  .campaign-content .container .row .col-md-6 {
    margin-bottom: 20px;
  }
}

.campaign-content .container .row:first-child {
  padding-top: 225px;
}

@media (max-width: 1280px) {
  .campaign-content .container .row:first-child {
    padding-top: 200px;
  }
}

.campaign-content .container .row:last-child {
  padding-bottom: 115px;
}

@media (max-width: 769px) {
  .campaign-content .container .row:last-child {
    padding-bottom: 40px;
  }
}

.campaign-content .container .row img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1280px) {
  .campaign-content .container .row img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 828px) {
  .campaign-content .container .row img {
    margin-top: 50px;
  }
}

@media (max-width: 320px) {
  .campaign-content .container .row img {
    margin-top: 50px;
  }
}

.campaign-content .container .row .campaign-box {
  width: 100%;
  height: 300px;
}

@media (max-width: 1280px) {
  .campaign-content .container .row .campaign-box {
    width: 100%;
  }
}

.campaign-content .container .row .campaign-box .campaign-text {
  width: 474px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 993px) {
  .campaign-content .container .row .campaign-box .campaign-text {
    max-width: 430px;
  }
}

@media (max-width: 905px) {
  .campaign-content .container .row .campaign-box .campaign-text {
    max-width: 400px;
  }
}

@media (max-width: 846px) {
  .campaign-content .container .row .campaign-box .campaign-text {
    max-width: 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 826px) {
  .campaign-content .container .row .campaign-box .campaign-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .campaign-content .container .row .campaign-box .campaign-text {
    max-width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 320px) {
  .campaign-content .container .row .campaign-box .campaign-text {
    max-width: 250px;
    margin-bottom: 120px;
  }
}

.campaign-content .container .row .campaign-box .campaign-text .text-day {
  width: 105px;
  height: 46px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  text-align: center;
  line-height: 28px;
  margin: auto 0;
  position: absolute;
  top: 15px;
  left: 0;
}

@media (max-width: 320px) {
  .campaign-content .container .row .campaign-box .campaign-text .text-day {
    max-width: 80px;
  }
}

.campaign-content .container .row .campaign-box .campaign-text .text-day h1 {
  font-size: 52px;
}

@media (max-width: 320px) {
  .campaign-content .container .row .campaign-box .campaign-text .text-day h1 {
    font-size: 40px;
  }
}

.campaign-content .container .row .campaign-box .campaign-text .text-context {
  width: 363px;
  height: 254px;
  color: white;
  margin: auto 0;
  position: absolute;
  left: 90px;
  line-height: 25px;
  padding: 20px;
  letter-spacing: 2px;
}

@media (max-width: 952px) {
  .campaign-content .container .row .campaign-box .campaign-text .text-context {
    max-width: 300px;
  }
}

@media (max-width: 826px) {
  .campaign-content .container .row .campaign-box .campaign-text .text-context {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 240px;
  }
}

@media (max-width: 767px) {
  .campaign-content .container .row .campaign-box .campaign-text .text-context {
    max-width: 400px;
  }
}

@media (max-width: 320px) {
  .campaign-content .container .row .campaign-box .campaign-text .text-context {
    max-width: 190px;
    margin-bottom: 50px;
  }
}

.campaign-content .container .row .campaign-box .campaign-text .text-context a {
  color: white;
}

@media (max-width: 826px) {
  .campaign-content .container .row .campaign-box .campaign-text .text-context a {
    display: none;
  }
}

@media (max-width: 826px) {
  .campaign-content .container .row .campaign-box .campaign-text .text-context a {
    display: none;
  }
}

@media (max-width: 767px) {
  .campaign-content .container .row .campaign-box .campaign-text .text-context a {
    display: inline;
  }
}

@media (max-width: 320px) {
  .campaign-content .container .row .campaign-box .campaign-text .text-context a {
    display: none;
  }
}

.campaign-content .container .row .campaign-box .campaign-text .text-context:first-child {
  margin: auto 0;
}

.campaign-content .container .row .campaign-box .campaign-text .text-context h5 {
  margin-bottom: 20px;
  font-weight: 700;
}

.menu {
  width: 100%;
  background-color: #092938;
}

.menu .menu-title {
  color: white;
  font-family: "Dancing Script", cursive;
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 60px;
  padding: 89px 0 80px;
}

@media (max-width: 320px) {
  .menu .menu-title {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .menu .menu-title {
    padding: 60px 40px 60px;
  }
}

@media (max-width: 320px) {
  .menu .menu-title {
    padding: 60px 0 60px;
  }
}

.menu .menu-list-subtitle {
  position: relative;
  padding: 0 80px;
}

@media (max-width: 320px) {
  .menu .menu-list-subtitle {
    padding: 0;
  }
}

.menu .menu-list-subtitle img {
  width: 86px;
  height: 106px;
  position: absolute;
  top: -40px;
}

@media (max-width: 320px) {
  .menu .menu-list-subtitle img {
    position: absolute;
    right: 0;
  }
}

.menu .menu-list-subtitle .subtitle-text {
  color: white;
  font-size: 36px;
  border-bottom: 5px solid white;
  padding: -10px;
  border-spacing: 50px;
  font-family: "EB Garamond", serif;
  padding-left: 95px;
  font-weight: 600;
}

@media (max-width: 320px) {
  .menu .menu-list-subtitle .subtitle-text {
    padding: 0;
    border-spacing: 20px;
  }
}

.menu .menu-content .cocktail-menu {
  color: white;
  font-family: "EB Garamond", serif;
  width: 100%;
  padding: 0 80px;
  margin: auto;
}

@media (max-width: 320px) {
  .menu .menu-content .cocktail-menu {
    padding: 0 20px;
  }
}

.menu .menu-content .cocktail-menu h3 {
  font-weight: 900;
  border-bottom: 2px solid white;
  padding: 60px 0 10px 20px;
  font-weight: 500;
  margin-right: 30px;
}

.menu .menu-content .cocktail-menu li {
  font-size: 24px;
  letter-spacing: 2px;
  list-style-type: none;
  padding-right: 88px;
  line-height: 40px;
  padding-left: 20px;
}

.menu .menu-content .cocktail-menu li:last-child {
  padding-right: 0;
}

.menu .menu-content .otherdrinks-menu {
  position: relative;
  width: 100%;
  padding: 134px 80px 0;
}

@media (max-width: 320px) {
  .menu .menu-content .otherdrinks-menu {
    padding: 134px 20px 0;
  }
}

.menu .menu-content .otherdrinks-menu img {
  width: 100px;
  height: 120px;
  position: absolute;
  top: -40px;
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
}

@media (max-width: 320px) {
  .menu .menu-content .otherdrinks-menu img {
    position: absolute;
    right: 5px;
    top: -10px;
  }
}

.menu .menu-content .otherdrinks-menu .otherdrinks-title {
  color: white;
  font-size: 36px;
  border-bottom: 5px solid white;
  padding: -10px 20px;
  border-spacing: 50px;
  font-family: "EB Garamond", serif;
  padding-left: 105px;
  font-weight: 600;
  margin-right: 50px;
}

@media (max-width: 320px) {
  .menu .menu-content .otherdrinks-menu .otherdrinks-title {
    padding-left: 0px;
    font-size: 34px;
  }
}

.menu .menu-content .otherdrinks-menu .other-list {
  padding-top: 30px;
}

.menu .menu-content .otherdrinks-menu .other-list li {
  font-size: 24px;
  letter-spacing: 2px;
  list-style-type: none;
  padding-right: 88px;
  color: white;
  line-height: 50px;
  font-family: "EB Garamond", serif;
  padding-left: 20px;
}

.menu .menu-content .otherdrinks-menu .other-list li:last-child {
  padding-bottom: 100px;
}

.menu-swiper-content {
  width: 100%;
  background-color: white;
}

@media (max-width: 1280px) {
  .menu-swiper-content {
    width: 100%;
  }
}

.menu-swiper-content .menu-swiper-title {
  color: #182326;
  font-family: "Dancing Script", cursive;
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 60px;
  padding: 100px 0 15px;
}

@media (max-width: 320px) {
  .menu-swiper-content .menu-swiper-title {
    font-size: 40px;
  }
}

.menu-swiper-content .menu-swiper-list {
  width: 100%;
  margin-bottom: 98px;
}

@media (max-width: 320px) {
  .menu-swiper-content .menu-swiper-list {
    margin-bottom: 0;
  }
}

.menu-swiper-content .menu-swiper-list a {
  font-size: 30px;
  font-family: "EB Garamond", serif;
  line-height: 45px;
  color: #437e9d;
  padding-right: 95px;
}

@media (max-width: 768px) {
  .menu-swiper-content .menu-swiper-list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-swiper-content .menu-swiper-list a:last-child {
  padding-right: 0;
}

@media (max-width: 768px) {
  .menu-swiper-content .menu-swiper-list a:last-child {
    padding-right: -1px;
  }
}

.menu-swiper-content .menu-swiper-list a:hover {
  color: #d75207;
}

.menu-swiper-content .menu-swiper {
  width: 1105px;
  height: 550px;
  margin: auto;
  margin-bottom: 84px;
}

@media (max-width: 1280px) {
  .menu-swiper-content .menu-swiper {
    width: 100%;
    height: 100%;
  }
}

.menu-swiper-content .menu-swiper .swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
}

@media (max-width: 1280px) {
  .menu-swiper-content .menu-swiper .swiper-container {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .menu-swiper-content .menu-swiper .swiper-container {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .menu-swiper-content .menu-swiper .swiper-container {
    width: 100%;
  }
}

.menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper {
  width: 100%;
  height: 90%;
}

.menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: white;
}

@media (max-width: 1390px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide {
    width: 100%;
  }
}

@media (max-width: 695px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide {
    padding-bottom: 50px;
  }
}

.menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content {
  width: 255px;
  height: 376px;
}

@media (max-width: 1390px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content {
    width: 100%;
  }
}

.menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content .evennumber-img {
  width: 105px;
  height: 203px;
  position: absolute;
  top: 0;
  left: 75px;
}

@media (max-width: 1390px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content .evennumber-img {
    position: absolute;
    top: 0;
    left: 120px;
  }
}

@media (max-width: 695px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content .evennumber-img {
    position: absolute;
    top: 120px;
  }
}

@media (max-width: 320px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content .evennumber-img {
    position: absolute;
    left: 50px;
  }
}

.menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content .oldnumber-img {
  width: 105px;
  height: 203px;
  position: absolute;
  top: 120px;
  left: 80px;
  margin: auto;
}

@media (max-width: 1390px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content .oldnumber-img {
    position: absolute;
    top: 120px;
    left: 125px;
  }
}

@media (max-width: 320px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content .oldnumber-img {
    position: absolute;
    left: 50px;
  }
}

.menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content #manhattan {
  width: 155px;
  height: 203px;
  position: absolute;
  left: 50px;
}

@media (max-width: 1390px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content #manhattan {
    position: absolute;
    left: 100px;
  }
}

@media (max-width: 320px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content #manhattan {
    position: absolute;
    left: 40px;
    width: 125px;
    height: 153px;
    top: 170px;
  }
}

.menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content #bloodymary {
  position: absolute;
  left: 60px;
}

@media (max-width: 1390px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content #bloodymary {
    position: absolute;
    left: 110px;
  }
}

@media (max-width: 320px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content #bloodymary {
    position: absolute;
    left: 40px;
  }
}

.menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content #mintjulep {
  width: 90px;
  height: 203px;
  position: absolute;
  left: 80px;
}

@media (max-width: 1390px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content #mintjulep {
    position: absolute;
    left: 130px;
  }
}

@media (max-width: 320px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content #mintjulep {
    position: absolute;
    left: 40px;
  }
}

.menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content #sunrise {
  width: 140px;
  height: 203px;
  position: absolute;
  left: 70px;
}

@media (max-width: 1390px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content #sunrise {
    position: absolute;
    left: 120px;
  }
}

@media (max-width: 320px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content #sunrise {
    position: absolute;
    left: 40px;
  }
}

.menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content #matador {
  width: 140px;
  height: 203px;
  position: absolute;
  left: 50px;
}

@media (max-width: 1390px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content #matador {
    position: absolute;
    left: 115px;
  }
}

@media (max-width: 320px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content #matador {
    position: absolute;
    left: 45px;
  }
}

.menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content #redbull {
  width: 80px;
  height: 203px;
  position: absolute;
  left: 80px;
}

@media (max-width: 1390px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content #redbull {
    position: absolute;
    left: 140px;
  }
}

@media (max-width: 320px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content #redbull {
    position: absolute;
    left: 50px;
  }
}

.menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content #tw18beer,
.menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content #corona {
  width: 65px;
  height: 203px;
  position: absolute;
  left: 90px;
}

@media (max-width: 1390px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content #tw18beer,
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content #corona {
    position: absolute;
    left: 150px;
  }
}

@media (max-width: 320px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content #tw18beer,
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content #corona {
    position: absolute;
    left: 80px;
  }
}

.menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content .swiper-whitebox {
  width: 100%;
  height: 140px;
}

.menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content .swiper-bluebox {
  width: 100%;
  height: 236px;
  background-color: #144c59;
  font-size: 18px;
  color: white;
  padding: 70px 20px 0 20px;
  font-family: "EB Garamond", serif;
  text-align: left;
}

@media (max-width: 1380px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content .swiper-bluebox {
    padding: 75px 10px 0 50px;
  }
}

@media (max-width: 768px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content .swiper-bluebox {
    padding: 75px 10px 0 30px;
  }
}

@media (max-width: 695px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content .swiper-bluebox {
    padding: 55px 30px 0 320px;
  }
}

@media (max-width: 535px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content .swiper-bluebox {
    padding: 50px 30px 0 250px;
  }
}

@media (max-width: 320px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-content .swiper-bluebox {
    padding: 45px 30px 0 148px;
  }
}

.menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .old-number {
  margin-top: 120px;
}

@media (max-width: 695px) {
  .menu-swiper-content .menu-swiper .swiper-container .swiper-wrapper .swiper-slide .even-content {
    margin-top: 120px;
  }
}

.menu-swiper-content .menu-swiper .swiper-container .swiper-pagination-bullet-active {
  background-color: #182326;
}

.story {
  width: 100%;
  background-color: #07707f;
}

@media (max-width: 767px) {
  .story {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .story {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .story .container {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .story .container {
    width: 100%;
  }
}

.story .container .en-title {
  color: white;
  font-family: "Dancing Script", cursive;
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 60px;
  padding: 83px 0 17px 22px;
}

@media (max-width: 320px) {
  .story .container .en-title {
    font-size: 40px;
  }
}

.story .container .ch-title {
  color: #b0c1c6;
  padding-left: 47px;
}

@media (max-width: 1280px) {
  .story .container .ch-title {
    padding-bottom: 60px;
  }
}

@media (max-width: 320px) {
  .story .container .ch-title {
    padding-left: 15px;
  }
}

.story .container .content {
  widows: 100%;
}

@media (max-width: 769) {
  .story .container .content {
    width: 100%;
  }
}

.story .container .content #b-52 {
  padding: 177px 0 0;
}

@media (max-width: 1280px) {
  .story .container .content #b-52 {
    padding: 0 0 15px;
  }
}

@media (max-width: 992px) {
  .story .container .content #b-52 {
    margin: auto;
  }
}

@media (max-width: 768px) {
  .story .container .content #b-52 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 120px;
    padding: 0 0 60px;
  }
}

@media (max-width: 320px) {
  .story .container .content #b-52 {
    margin-left: 0;
  }
}

.story .container .content #sea-breeze {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1280px) {
  .story .container .content #sea-breeze {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

@media (max-width: 768px) {
  .story .container .content #sea-breeze {
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: hidden;
    margin-left: 105px;
  }
}

@media (max-width: 320px) {
  .story .container .content #sea-breeze {
    padding-left: 0;
    margin-left: 0;
  }
}

.story .container .content #aviation {
  padding: 150px 0 187px;
}

@media (max-width: 1280px) {
  .story .container .content #aviation {
    padding: 55px 0 100px;
  }
}

@media (max-width: 768px) {
  .story .container .content #aviation {
    padding: 55px 0 20px;
    margin-left: 120px;
  }
}

@media (max-width: 320px) {
  .story .container .content #aviation {
    margin-left: 0;
  }
}

.story .container .content #margarita {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1280px) {
  .story .container .content #margarita {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    padding: 55px 0 100px;
  }
}

@media (max-width: 768px) {
  .story .container .content #margarita {
    padding: 55px 0 120px;
    margin-left: 120px;
  }
}

@media (max-width: 320px) {
  .story .container .content #margarita {
    margin-left: 0;
  }
}

.story .container .content .story-format {
  width: 513px;
  height: 714px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 850px) {
  .story .container .content .story-format {
    overflow: visible;
  }
}

@media (max-width: 320px) {
  .story .container .content .story-format {
    max-width: 300px;
  }
}

.story .container .content .story-format .story-content-l {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .story .container .content .story-format .story-content-l {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 850px) {
  .story .container .content .story-format .story-content-l {
    overflow: visible;
  }
}

.story .container .content .story-format .story-content-l .story-img {
  width: 455px;
  height: 600px;
  background-image: url(../img/05-調酒的故事/01-愛情中的每一個階段/B-52-01.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.7;
  -webkit-transition: 2s;
  transition: 2s;
}

@media (max-width: 960px) {
  .story .container .content .story-format .story-content-l .story-img {
    width: 420px;
  }
}

@media (max-width: 767px) {
  .story .container .content .story-format .story-content-l .story-img {
    max-width: 380px;
  }
}

@media (max-width: 320px) {
  .story .container .content .story-format .story-content-l .story-img {
    max-width: 300px;
  }
}

.story .container .content .story-format .story-content-l .story-img:hover {
  opacity: 1;
  background-size: 120%;
  background-repeat: no-repeat;
}

.story .container .content .story-format .story-content-l .story-text {
  width: 365px;
  height: 192px;
  background-color: #07707f;
  color: white;
  font-size: 14px;
  border-top: 8px solid white;
  position: absolute;
  bottom: 0px;
  right: -50px;
  padding: 29.5px 33.5px;
  line-height: 25px;
}

@media (max-width: 1063px) {
  .story .container .content .story-format .story-content-l .story-text {
    position: absolute;
    bottom: -40px;
    right: 0;
  }
}

@media (max-width: 992px) {
  .story .container .content .story-format .story-content-l .story-text {
    overflow: visible;
  }
}

@media (max-width: 850px) {
  .story .container .content .story-format .story-content-l .story-text {
    overflow: visible;
  }
}

@media (max-width: 767px) {
  .story .container .content .story-format .story-content-l .story-text {
    position: absolute;
    bottom: 0px;
    left: 0;
    max-width: 300px;
  }
}

@media (max-width: 320px) {
  .story .container .content .story-format .story-content-l .story-text {
    max-width: 300px;
    padding: 15px 20px;
    position: absolute;
    right: 0;
  }
}

.story .container .content .story-format .story-content-l .story-text h4 {
  padding-bottom: 10px;
}

.story .container .content .story-format .story-content-l #seabreeze-img {
  background-image: url(../img/05-調酒的故事/01-愛情中的每一個階段/Seabreeze-Cocktail-03.jpg);
}

.story .container .content .story-format .story-content-l #aviation-img {
  background-image: url(../img/05-調酒的故事/01-愛情中的每一個階段/Aviation-02.jpeg);
}

.story .container .content .story-format .story-content-l #margarita-img {
  background-image: url(../img/05-調酒的故事/01-愛情中的每一個階段/margarita-01.jpg);
  background-position: top;
}

.story .container .content .story-format .stroy-content-r {
  color: white;
  font-size: 48px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-family: "EB Garamond", serif;
}

@media (max-width: 767px) {
  .story .container .content .story-format .stroy-content-r {
    letter-spacing: 2px;
    padding-top: 35px;
    display: inline;
  }
}

@media (max-width: 320px) {
  .story .container .content .story-format .stroy-content-r {
    padding-top: 10px;
    padding-left: 10px;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    display: none;
  }
}

.reservation {
  width: 100%;
}

@media (max-width: 1280px) {
  .reservation {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .reservation {
    width: 100%;
  }
}

@media (max-width: 768) {
  .reservation {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .reservation {
    width: 100%;
  }
}

.reservation .reservation-pic {
  width: 100%;
  height: 960px;
  background-image: url("../img/06-定位/01-定位須知/images.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

@media (max-width: 1280px) {
  .reservation .reservation-pic {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .reservation .reservation-pic {
    width: 100%;
    background-position: right 25% bottom 40%;
  }
}

@media (max-width: 320px) {
  .reservation .reservation-pic {
    width: 100%;
  }
}

.reservation .reservation-pic .reservation-textbox {
  height: 550px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 110px;
  left: 275px;
  color: #062636;
  padding: 35px 65px 0;
}

@media (max-width: 1280px) {
  .reservation .reservation-pic .reservation-textbox {
    position: absolute;
    left: 180px;
  }
}

@media (max-width: 900px) {
  .reservation .reservation-pic .reservation-textbox {
    position: absolute;
    left: 80px;
  }
}

@media (max-width: 768px) {
  .reservation .reservation-pic .reservation-textbox {
    width: 500px;
    height: 680px;
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    left: 120px;
  }
}

@media (max-width: 583px) {
  .reservation .reservation-pic .reservation-textbox {
    position: absolute;
    left: 0;
    top: 140px;
  }
}

@media (max-width: 320px) {
  .reservation .reservation-pic .reservation-textbox {
    max-width: 303px;
    height: 710px;
    background-color: rgba(255, 255, 255, 0.65);
    position: absolute;
    top: 120px;
    padding: 50px 30px 20px;
  }
}

.reservation .reservation-pic .reservation-textbox .title {
  font-family: "Dancing Script", cursive;
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 60px;
  color: #062636;
  margin-bottom: 70px;
}

@media (max-width: 320px) {
  .reservation .reservation-pic .reservation-textbox .title {
    font-size: 40px;
  }
}

.reservation .reservation-pic .reservation-textbox .title li {
  font-size: 18px;
  list-style-type: none;
}

@media (max-width: 768px) {
  .reservation .reservation-pic .reservation-textbox .title li {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .reservation .reservation-pic .reservation-textbox .title li {
    font-size: 14px;
  }
}

.reservation .reservation-pic .reservation-textbox .title .attention h4 {
  font-weight: 900;
  margin-top: 10px;
}

.reservation .reservation-pic .reservation-textbox .title .attention li {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  list-style-type: square;
}

@media (max-width: 768px) {
  .reservation .reservation-pic .reservation-textbox .title .attention li {
    font-size: 16px;
    line-height: 25px;
  }
}

.reservation .reservation-pic #bookingbtn button {
  width: 570px;
  height: 93px;
  background-color: #d75207;
  position: absolute;
  top: 630px;
  left: 345px;
  color: white;
  font-size: 55px;
  letter-spacing: 2px;
  line-height: 20px;
  text-align: center;
  font-family: "EB Garamond", serif;
  -webkit-box-shadow: 11px 13px 14px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 11px 13px 14px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 1280px) {
  .reservation .reservation-pic #bookingbtn button {
    position: absolute;
    left: 255px;
  }
}

@media (max-width: 900px) {
  .reservation .reservation-pic #bookingbtn button {
    position: absolute;
    left: 150px;
  }
}

@media (max-width: 768px) {
  .reservation .reservation-pic #bookingbtn button {
    width: 350px;
    height: 45px;
    font-size: 30px;
    position: absolute;
    top: 770px;
    left: 160px;
  }
}

@media (max-width: 583px) {
  .reservation .reservation-pic #bookingbtn button {
    position: absolute;
    left: 72px;
    top: 800px;
  }
}

@media (max-width: 320px) {
  .reservation .reservation-pic #bookingbtn button {
    width: 265px;
    position: absolute;
    left: 15px;
    top: 810px;
  }
}

.reservation .reservation-pic #bookingbtn button i {
  color: white;
  font-size: 55px;
  padding-left: 10px;
}

@media (max-width: 768px) {
  .reservation .reservation-pic #bookingbtn button i {
    display: none;
  }
}

.footer {
  width: 100%;
  background-color: #14323d;
}

@media (max-width: 768px) {
  .footer {
    width: 100%;
  }
}

.footer .footer-nav {
  width: 100%;
  height: 100%;
  color: white;
  margin: 42px;
  text-align: center;
  line-height: 36px;
}

@media (max-width: 768px) {
  .footer .footer-nav {
    width: 100%;
    margin: 40px auto;
    line-height: 40px;
  }
}

@media (max-width: 320px) {
  .footer .footer-nav {
    width: 100%;
    margin-top: 45px;
  }
}

.footer .footer-nav li {
  list-style-type: none;
  color: #6fb8c4;
  font-size: 24px;
  padding-bottom: 10px;
}

.footer .footer-nav li:last-child {
  padding-bottom: 0;
}

@media (max-width: 768px) {
  .footer #footer-information {
    width: 100%;
  }
}

.footer #footer-information .footer-contact {
  width: 100%;
  color: white;
  font-size: 20px;
  list-style-type: none;
  letter-spacing: 2px;
  margin: 42px 0 42px 8px;
}

@media (max-width: 768px) {
  .footer #footer-information .footer-contact {
    margin: 60px 0 30px 0;
  }
}

@media (max-width: 576px) {
  .footer #footer-information .footer-contact {
    margin: 0 60px 20px 60px;
  }
}

@media (max-width: 320px) {
  .footer #footer-information .footer-contact {
    margin: 0 20px 20px 10px;
    font-size: 15px;
  }
}

.footer #footer-information .footer-icon {
  width: 38px;
  height: 38px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16px;
}

@media (max-width: 576px) {
  .footer #footer-information .footer-icon {
    margin-bottom: 45px;
  }
}

@media (max-width: 320px) {
  .footer #footer-information .footer-icon {
    width: 28px;
    height: 28px;
    margin-right: 5px;
  }
}

.footer #footer-information #fb {
  background-image: url("../img/07-頁尾/01-餐廳資訊/facebook.svg");
  margin-right: 5px;
}

@media (max-width: 576px) {
  .footer #footer-information #fb {
    margin-left: 50px;
  }
}

@media (max-width: 375px) {
  .footer #footer-information #fb {
    margin-left: 5px;
  }
}

.footer #footer-information #line {
  background-image: url("../img/07-頁尾/01-餐廳資訊/chat.svg");
}

.footer #footer-information #ig {
  background-image: url("../img/07-頁尾/01-餐廳資訊/instagram-sketched.svg");
}

.footer #footer-information .copyright {
  font-size: 12px;
  list-style-type: none;
  width: 214px;
  height: 35px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 30px;
}

@media (max-width: 576px) {
  .footer #footer-information .copyright {
    padding-left: 20px;
  }
}

@media (max-width: 320px) {
  .footer #footer-information .copyright {
    padding-left: 0;
    max-width: 180px;
  }
}

.footer #footer-information .copyright li {
  width: 214px;
  text-align: top;
}

.slogan {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 60px;
  line-height: 110px;
  text-align: center;
  margin: auto;
}

.slogan #safe {
  display: inline;
}

@media (max-width: 1140px) {
  .slogan #safe {
    display: none;
  }
}

@media (max-width: 768px) {
  .slogan #safe {
    display: inline;
    margin-top: 0;
  }
}

@media (max-width: 375px) {
  .slogan #safe {
    display: none;
  }
}

.slogan img {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 100px;
  line-height: 110px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .slogan img {
    width: 40px;
    height: 40px;
    line-height: 100px;
  }
}

@media (max-width: 320px) {
  .slogan img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 1280px) {
  .slogan {
    width: 100%;
    font-size: 45px;
  }
}

@media (max-width: 1140px) {
  .slogan {
    width: 100%;
    font-size: 35px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .slogan {
    width: 100%;
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .slogan {
    font-size: 18px;
  }
}

.bar-icon {
  width: 53px;
  height: 97px;
  position: fixed;
  bottom: 30px;
  right: 50px;
  background-image: url(../img/淺藍色調酒器.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 123456;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-name: "shakeY";
          animation-name: "shakeY";
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  display: none;
}

.bar-icon:hover {
  background-image: url(../img/橘色調酒器.png);
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
/*# sourceMappingURL=style.css.map */